.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  opacity: 100%;
}
.blor{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #282c34;
  opacity: 70%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 23.8%;
  height:23.8%;
  background-color: #282c34;
  border: 3px yellow dashed;
  border-radius: 10%;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 23.8%;
  height:23.8%;
  background-color: #282c34;
}
*{
  box-sizing: border-box;
}
.box{
  align-items: center;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  width: 50vw;
  height: 50vw;
  border: 1px red solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes outBlur{
  from{
    opacity: 70%;
  }
  to{
    opacity: 0%;
    display: none;
  }
}