.main {
  width: 30vw;
  height: 100vh;
  background-color: white;
  right: 0px;
  position: relative;
}
.myurls{
  position: absolute;
  top: 10%;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

