*{
    box-sizing: border-box;
}
.nav{
    background-color: rgb(8,125,168);
    height: 5vh;
    width: fit-content;
    display: flex;
    border-radius: 0.3em;
}
.link{
    height: 100%;
    font-family: sans-serif;
    font-weight: 550;
    color: white;
    width:5vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
