.whiteTile {
  text-align: center;
  font-size: 300%;
  color: black;
  box-sizing: border-box;
  width: 12.5%;
  height: 12.5%;
}
.blackTile {
  background-color: rgb(126, 148, 93);
  color: white;
  box-sizing: border-box;
  width: 12.5%;
  height: 12.5%;
}
.tile {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
